a {
  font-weight: 500;
  color: #32A45D;
  text-decoration: inherit;
}

a:hover {
  color: hsl(143, 53%, 42%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.fit-content,
.fit-content button {
  width: fit-content;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #32A45D;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#app>div {
  background: #242424 !important;
}

.v-container {
  padding: 0 !important;
  max-height: fit-content;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* 適用於 Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  /* 捲軸背景 */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  /* 捲軸滑塊 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


.register-wrapper {
  margin-top: 66px;
  padding: 16px;
  font-size: 14px;
  /* 若要全高，建議加上這行，避免內容超出 */
  max-height: calc(100vh - 66px);
  overflow: auto;
}

.app-contact {
  position: relative;
  height: calc(100% - 60px);
  overflow: auto;
}

.welcome {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 8px;
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid #ccc !important;
  background: #fff;
  color: #222;
}

.remember input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-radius: 2px;
  position: relative;
}

.remember input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid #32A45D;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input::placeholder,
select,
.password-wrapper {
  color: #888;
  /* placeholder 字色 */
}

label {
  text-align: left;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
}

.toggle-eye {
  margin-left: 8px;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  background: #32A45D;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 12px;
}

.input-error {
  border: 1.5px solid #e00 !important;
  color: #e00 !important;
  background: #fff0f0;
}

.error-msg {
  color: #e00;
  text-align: left;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

input:focus,
button:focus,
input:focus-visible,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.Search {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  /* 置中顯示 */
}

.search-bar {
  position: relative;
  display: flex;
  width: 88%;
  align-items: center;
  background: #f7f9fa;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  padding: 6px 8px;
  margin: auto;
}

.search-bar>div {
  text-align: left;
  width: 100%;
}

input.search-input {
  border: none !important;
  width: calc(100% - 40px) !important;
  margin-right: 20px;
}

.search-bar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
  padding: 10px;
}

.search-no-bar {
  position: relative;
  display: flex;
  width: 70%;
  align-items: center;
  background: #f7f9fa;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  padding: 6px 8px;
}


.search-btn {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  outline: none;
  margin-left: 4px;
  font-size: 18px;
  color: #888;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  transition: background 0.2s;
  top: 0px;
}

.search-btn:hover {
  background: #e6e6e6;
  color: #32A45D;
}

.scan-btn {
  background: #f7f9fa;
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 22px;
  color: #888;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 10px;
  transition: background 0.2s;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.scan-btn:hover {
  background: #e6e6e6;
}

.info-list .search-no-bar {
  padding: 4px;
}

.info-list .search-btn {
  top: 45%;
  transform: translateY(-50%);
  right: 8px;
  padding: 0px
}

.scan-btn {
  padding: 4px 4px 1px 5px;
}

.info-list .search-input {
  margin: 0;
  width: 100% !important;
}

.event-info,
.page-title {
  padding-top: 60px !important;
  padding: 1rem;
  text-align: left;
  color: #fff;
  background-color: rgb(238, 238, 238);
  background-image: linear-gradient(#00000080, #0009), url(https://www.soonnetmall.com/img/banner-2.C3Kk06-o.png);
  background-position: 80% center;
}


.top-bar {
    display: flex;
    position: absolute;
    top: 42px;
    color: #fff;
    z-index: 1000;
    width: 100%;
}

.top-bar>* {
  width: 33.3%;
}

.activity-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  z-index: 10;
  background: #fff;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 220px;
  overflow-y: auto;
}

.activity-dropdown li {
  display: flex;
  flex-direction: column;
  padding: 12px 6px;
  cursor: pointer;
  font-size: 16px;
  color: #222;
  transition: background 0.2s;
}

.activity-dropdown li.active,
.activity-dropdown li:hover {
  background: #f0f9eb;
  color: #32A45D;
}

.event-search {
  display: block;
}

.activity-date {
  font-size: 12px;
  min-width: 90px;
  text-align: left;
  color: #333;
}

.activity-name {
  flex: 1;
  text-align: left;
  color: #222;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px;
  margin-top: 75px;
  position: relative;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.steps p {
  font-size: 15px;
  color: #bbb;
  margin: 7px 0;
}

.steps p.active {
  color: #222;
  font-weight: bold;
}

.steps-progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background: #eee;
  z-index: 1;
}

.steps-dot {
  position: absolute;
  /* left 由組件自行控制，預設 10% 或 50% */
  bottom: -7px;
  width: 10px;
  height: 10px;
  background: #32A45D;
  border-radius: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.pay-row input[type="radio"]:checked,
.pay-now {
  color: #fff;
  background: #32A45D;
  border: 1.5px solid #32A45D;
}


.pay-now {
  position: absolute;
  bottom: 60px;
  left: 0;
  border-radius: 0;
  width: 100%;
}


.pay-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 400px);
  overflow: auto;
}



.pay-header {
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0;
  background: #f3f3f3;
  padding: 12px;
  text-align: left;
  justify-content: space-between;
}

.pay-header span {
  font-size: 12px;
  color: #666;
}

.v-overlay__content {
  min-width: 100% !important;
}

.v-picker.v-sheet {
  max-width: 100% !important;
}

.v-date-picker-month__days {
  column-gap: 0px !important;
  max-width: 100% !important;
}

.v-picker-title {
  display: none;
}


.v-picker__header {
  display: none;
}

.v-overlay__content {
  bottom: 0;
  margin: 0px !important;
}




.v-overlay__content.v-select__content,
.constrained-menu .v-list {
  width: 100px !important;
  max-width: 100px !important;
  display: block !important;
}



.dp__outer_menu_wrap.dp--menu-wrapper {
  position: fixed;
  bottom: 60px !important;
  top: auto !important;
  width: 100%;
  left: 0px !important;
}

.dp__main.dp__theme_light {
  position: static;
}

.dp__arrow_top {
  display: none;
}